<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <!-- 콘솔은 모든 로그 표시, 파일은 레벨별 관리 -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- 디버그 로그를 위한 별도 로거 -->
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="MAIN_FILE">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_PATTERN_FILE}</pattern>
    </encoder>
    <file>${LOG_PATH}/main.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <!-- INFO 이상만 허용 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/main.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>10</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <!-- 트레이스 로그를 위한 별도 로거 -->
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="DEBUG_FILE">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_PATTERN_FILE}</pattern>
    </encoder>
    <file>${LOG_PATH}/debug.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/debug.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>10</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <!-- 로그 레벨별 색상 설정 -->
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="TRACE_FILE">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_PATTERN_FILE}</pattern>
    </encoder>
    <file>${LOG_PATH}/trace.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>TRACE</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/trace.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>10</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="SECURITY_TRACE_FILE">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_PATTERN_FILE}</pattern>
    </encoder>
    <file>${LOG_PATH}/security-trace.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>TRACE</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/security-trace.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>10</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>
  <!-- red, green, yellow, blue, magenta, cyan, white, faint, bold -->
  <conversionRule conversionWord="clr"
    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
  <logger additivity="false" level="DEBUG" name="com.sprint.ootd5team">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="MAIN_FILE"/>
    <appender-ref ref="DEBUG_FILE"/>
  </logger>

  <logger additivity="false" level="TRACE" name="com.sprint.ootd5team">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="MAIN_FILE"/>
    <appender-ref ref="DEBUG_FILE"/>
    <appender-ref ref="TRACE_FILE"/>
  </logger>

  <!-- main: info 이상 로그 파일 -->
  <logger additivity="false" level="TRACE" name="org.springframework.security">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="SECURITY_TRACE_FILE"/>
  </logger>

  <!-- debug: debug 레벨 로그 파일 -->
  <property name="LOG_PATH" value="logs"/>

  <!-- trace: trace 레벨 로그 파일 -->
  <property name="LOG_PATTERN"
    value="%d{yy-MM-dd HH:mm:ss.SSS} [%clr(%thread){green}] %clr(%-5level) %clr(%-36logger{36}){cyan} [%clr(%X{requestId}){magenta} | %clr(%X{userId}){blue} | %clr(%X{path}){yellow}] - %msg%n"/>

  <!-- security-trace: trace 레벨 로그 파일 -->
  <property name="LOG_PATTERN_FILE"
    value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-36logger{36} [%X{requestId} | %X{userId} | %X{path}] - %msg%n"/>


  <!-- 시큐리티 트레이스 로그 -->
  <root level="TRACE">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="MAIN_FILE"/>
  </root>
</configuration>